@import "left";

@import "right";

@import "main";

@import "color";

@import "responsive";

/*----------------------------------ハンバーガー参考→https://qiita.com/super-mana-chan/items/0310e3543bd1c3e4761a-----------*/
/*ドロワー*/
.l-drawer {
    position: relative;
    // inputのcheckboxは非表示
    &__logo {
        width: 100%;
        text-align: center;
        // border: 1px solid black;
        margin: 0 auto;
        float: left;
        border-bottom: 1px solid black;
    }
    &__checkbox {
        display: none;
    }
    // ハンバーガーアイコン
    &__icon {
        cursor: pointer;
        display: block;
        width: 56px;
        height: 60px;
        position: fixed;
        right: 0;
        // ハンバーガーアイコンの中の線
        &-parts,
        &-parts:before,
        &-parts:after {
            background-color: #000;
            display: block;
            width: 26px;
            height: 2px;
            position: absolute;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            margin: auto;
        }
        &-parts:before,
        &-parts:after {
            content: " ";
        }
        &-parts:before {
            top: 16px;
        }
        &-parts:after {
            top: -16px;
        }
    }

    // ドロワーメニュー開いた時のメインエリアを暗く
    &__overlay {
        background: #000;
        opacity: 0;
        pointer-events: none; //ポインタの動作全部無効化
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
    }

    // ドロワーメニュー
    &__menu {
        background: #ffffff;
        color: #000;
        max-width: 100%;
        width: 320px;
        height: 100vh;
        overflow-y: auto; //スクロール
        -webkit-overflow-scrolling: touch; //スクロール（SP）
        position: fixed;
        top: 0;
        right: -320px;
    }
    // z-indexの指定（1がメインエリア）
    &__icon {
        z-index: 4;
    }
    &__menu {
        z-index: 3;
    }
    &__overlay {
        z-index: 2;
    }

    // チェックが入ったら（アイコンクリックしたら）
    &__checkbox:checked ~ {
        // ハンバーガーアイコン
        .l-drawer__icon {
            .l-drawer__icon-parts {
                background: transparent;
            }
            .l-drawer__icon-parts:before {
                -webkit-transform: rotate(-45deg);
                transform: rotate(-45deg);
                top: 0;
            }
            .l-drawer__icon-parts:after {
                -webkit-transform: rotate(45deg);
                transform: rotate(45deg);
                top: 0;
            }
        }
        // メインエリアを暗くする
        .l-drawer__overlay {
            opacity: 0.3;
            pointer-events: auto; //ポインタの動作デフォルトに戻す
        }
        // メニューをだす
        .l-drawer__menu {
            right: 0;
        }
    }
    // 動きをスムーズに
    &__icon-parts,
    &__icon-parts:after,
    &__icon-parts:before,
    &__overlay,
    &__menu {
        -webkit-transition: all 0.7s;
        transition: all 0.7s;
    }
}
.main{
    position: relative;/*←相対位置*/
}
.bottom_menu {
    // 固定
    position: fixed;/*←絶対位置*/
    bottom: 0; /*下に固定*/
    margin: 0 auto;
    width: 100%;
    height:80px;
    border: 1px solid black;
    text-align: center;
    background-color: #ffffff;
    &__icon {
    // border: 1px solid black;
    width:10%;
    float: left;
    margin: 0 4%;
    
    }
}

/*----------------------------------スマホ用メニュー-----------*/
@include mq-down() {
    // 引数を省略（初期値はmdの768px） downはそれ以下ならということ
    .right_sidebar {
        display: none;
    }
    .left_sidebar {
        display: none;
    }
}

/*----------------------------------ここからPCモニターの記述-----------*/
@include mq-up() {
    // 引数を省略（初期値はmdの768px） upはそれ以上ならということ
    .l-drawer {
        display: none;
    }
    .bottom_menu {
        display: none;
    }
}

/* imgタグの中にクラスする */
.user-icon-img {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 56px;
    object-fit: cover;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    /* justify-content: space-around; */
}
.center {
    text-align: center;
}
li {
    list-style: none;
}
svg {
    fill: black;
    /* fill: currentColor; */
}

/* 他 */
.kome {
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
}

.referance-title {
    font-size: 14px;
    text-align: center;
    margin: 5px auto;
}
.main-explain a {
    text-decoration: none;
    color: black;
}
.referance-name {
    font-size: 12px;
    text-align: right;
    opacity: 0.8;
    margin: 0 auto 5px;
}
.main-explain-sub {
    font-size: 14px;
    opacity: 0.7;
    margin: 0 auto 30px;
}
