@import "left";

@import "right";

@import "main";

@import "color";

@import "responsive";

/*ここからはスマホ用→https://cocohp.com/8027/より*/

/*ロゴの大きさを調整*/
#logo img {
    max-width: 50%;
}

nav {
    width: 100%;
    height: 70px;
    position: relative;
    background: #f6f6f6;
}

.drawer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 70px;
    padding: 0 1em;
}

/*ナビゲーション部分*/

.menu ul li a {
    display: block;
    font-weight: bold;
    padding: 2em;
    border-bottom: 1px dotted #ccc;
    color: #333;
    text-decoration: none;
}

.menu ul li a:hover {
    background-color: rgba(0, 0, 0, 0.5);
    color: orange;
}

.menu {
    text-align: center;
    background-color: rgba(255, 255, 255, 0.5);
    transition: 0.5s ease; /*滑らかに表示*/
    -webkit-transform: translateX(
        100%
    ); /*画面より100%外へ押し出し非表示にさせる*/

    /*  transform: translateX(-100%);/*右から出す場合は、マイナス100%としてください*/
}

/*OPEN時の動き*/
.menu.open {
    -webkit-transform: translateX(0%);
    transform: translateX(0%); /*メニューを元の位置へ戻す*/
}

/*トグルボタンのスタイルを指定*/
.Toggle {
    display: block;
    position: fixed; /* bodyに対しての絶対位置指定 */
    width: 42px;
    height: 42px;
    cursor: pointer;
    z-index: 3;
    right: 15px;
}

.Toggle span {
    display: block;
    position: absolute;
    width: 50px;
    border-bottom: solid 4px #333;
    -webkit-transition: 0.35s ease-in-out; /*変化の速度を指定*/
    -moz-transition: 0.35s ease-in-out; /*変化の速度を指定*/
    transition: 0.35s ease-in-out; /*変化の速度を指定*/
}
/*各ボーダー少しずつずらす*/
.Toggle span:nth-child(1) {
    top: 5px;
}
.Toggle span:nth-child(2) {
    top: 18px;
}
.Toggle span:nth-child(3) {
    top: 32px;
}
.Toggle.active span:nth-child(1) {
    top: 18px;
    /* 1番目のspanをマイナス45度に */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */
.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
    top: 18px;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
}

/*----------------------------------ここからPCモニターの記述-----------*/
@media screen and (min-width: 600px) {
    .hamburger {
        display: none;
    }
}

/* imgタグの中にクラスする */
.user-icon-img {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 56px;
    object-fit: cover;
}

.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    /* justify-content: space-around; */
}
.center {
    text-align: center;
}
li {
    list-style: none;
}
svg {
    fill: black;
    /* fill: currentColor; */
}

/* 他 */
.kome {
    text-align: center;
    font-size: 14px;
    opacity: 0.5;
}

.referance-title {
    font-size: 14px;
    text-align: center;
    margin: 5px auto;
}
.main-explain a {
    text-decoration: none;
    color: black;
}
.referance-name {
    font-size: 12px;
    text-align: right;
    opacity: 0.8;
    margin: 0 auto 5px;
}
.main-explain-sub {
    font-size: 14px;
    opacity: 0.7;
    margin: 0 auto 30px;
}
