@charset "UTF-8";

.d-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .d-md-block {
    display: block;
  }
}

/* 左サイドバー */

.left_sidebar {
  border-right: 1px ridge;
  /* position: absolute; */
  flex-basis: 300px;
  height: 500px;
  /* left: 0px;
  top: 0px; */
  /* box-sizing: border-box; */
  text-align: center;
  order: 1;
  /* flexboxの順番*/
  position: -webkit-sticky;
  position: sticky;
  /* //固定*/
  top: 0;
  /*  上部 0px の位置に固定*/
  /* position: sticky; */
  /* margin:0 0 0 auto; */
  /* width: 300px;
  background-color: green; */
  /* align-self: stretch; */
}

@media screen and (max-width: 900px) {
  .left_sidebar {
    display: none;
  }
}

.left_sidebar__item {
  /* margin-bottom: 20px; */
  position: -webkit-sticky;
  position: sticky;
}

.logo {
  margin: 30px auto 0;
  padding-left: 30px;
}

.left-menu {
  margin: 40px auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  justify-content: center;
}

.left-menu-content {
  width: 300px;
  padding: 20px 0;
  margin: 0 0;
  /* border: 1px solid green; */
}

.left-menu-content:hover svg {
  fill: #ff8000;
}

.left-menu-content a {
  text-decoration: none;
  text-align: center;
}

.menu-icon {
  float: left;
  margin-left: 30px;
  display: block;
  /* border: 1px solid red; */
}

.menu-icon svg {
  margin: 20px 20px;
}

.menu-letter {
  height: 48px;
  display: block;
  text-align: center;
  /* border: 1px solid blue; */
}

.menu-letter p {
  font-size: 20px;
  color: black;
}

.menu-letter:hover p {
  font-size: 20px;
  color: #ff8000;
}

.dropdown-item a {
  text-decoration: none;
}

.user {
  /* display: block; */
  margin: 40px auto;
  justify-content: center;
}

.user-icon {
  float: left;
  /* border: 1px solid blue; */
  margin-left: 90px;
}

.login-btn a {
  display: block;
  text-decoration: none;
  width: 200px;
  padding: 0.3em;
  margin-left: 100px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.login-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.register-btn a {
  display: block;
  text-decoration: none;
  width: 200px;
  padding: 0.3em;
  margin-left: 100px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.register-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.logout-btn a {
  display: block;
  text-decoration: none;
  width: 90px;
  padding: 0.3em;
  margin-left: 200px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.logout-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.d-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .d-md-block {
    display: block;
  }
}

/* 右サイドバー */

.right_sidebar {
  flex-basis: 300px;
  height: 500px;
  border-left: 1px ridge;
  text-align: center;
  order: 3;
  /* flexboxの順番*/
  position: -webkit-sticky;
  position: sticky;
  /* //固定*/
  top: 0;
}

@media screen and (max-width: 900px) {
  .right_sidebar {
    display: none;
  }
}

.right_sidebar__item {
  /* margin-bottom: 20px; */
  position: -webkit-sticky;
  position: sticky;
}

/* 時計関係 */

.right-watch {
  margin-top: 100px;
}

.time_name {
  font-size: 40px;
}

.timezone {
  font-size: 30px;
}

.time {
  font-size: 38px;
}

.second {
  font-size: 28px;
}

/* .millisec {
    font-size: 14px;
} */

.countdown {
  font-size: 8px;
  color: #87c9b6;
}

/* 時計関係ここまで */

.right-menu {
  font-size: 15px;
  xpadding-top: 30%;
  line-height: 70px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  flex-direction: column;
}

.right-menu-content {
  /* width: 100%; */
  display: block;
}

.right-menu-content a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.right-menu-content p {
  font-size: 12px;
  color: black;
  opacity: 0.3;
}

.right-menu-content:hover a {
  text-decoration: none;
  color: black;
  opacity: 1;
}

.copyright {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 70%;
}

.d-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .d-md-block {
    display: block;
  }
}

/* メインコンテンツ */

.main {
  /* position: absolute; */
  flex-basis: 838px;
  height: auto;
  /* text-align: center; */
  order: 2;
  /* flexboxの順番*/
  /* left: 302px;
  top: 0px;             */
  /* display: block; */
  /* width: 830px; */
  /* margin-right: 20px; */
  /* background-color: pink; */
  /* align-self: stretch; */
}

.main-title {
  text-align: center;
  margin-bottom: 3px;
}

.orange-line {
  border-bottom: solid 3px #ff8000;
}

.main-explain {
  text-align: center;
}

.d-none {
  display: none;
}

@media screen and (max-width: 900px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (max-width: 900px) {
  .d-md-block {
    display: block;
  }
}

/*ここからはスマホ用→https://cocohp.com/8027/より*/

/*ロゴの大きさを調整*/

#logo img {
  max-width: 50%;
}

nav {
  width: 100%;
  height: 70px;
  position: relative;
  background: #f6f6f6;
}

.drawer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  position: relative;
  height: 70px;
  padding: 0 1em;
}

/*ナビゲーション部分*/

.menu ul li a {
  display: block;
  font-weight: bold;
  padding: 2em;
  border-bottom: 1px dotted #ccc;
  color: #333;
  text-decoration: none;
}

.menu ul li a:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: orange;
}

.menu {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.5);
  transition: 0.5s ease;
  /*滑らかに表示*/
  -webkit-transform: translateX(100%);
  /*画面より100%外へ押し出し非表示にさせる*/
  /*  transform: translateX(-100%);/*右から出す場合は、マイナス100%としてください*/
}

/*OPEN時の動き*/

.menu.open {
  transform: translateX(0%);
  /*メニューを元の位置へ戻す*/
}

/*トグルボタンのスタイルを指定*/

.Toggle {
  display: block;
  position: fixed;
  /* bodyに対しての絶対位置指定 */
  width: 42px;
  height: 42px;
  cursor: pointer;
  z-index: 3;
  right: 15px;
}

.Toggle span {
  display: block;
  position: absolute;
  width: 50px;
  border-bottom: solid 4px #333;
  /*変化の速度を指定*/
  /*変化の速度を指定*/
  transition: 0.35s ease-in-out;
  /*変化の速度を指定*/
}

/*各ボーダー少しずつずらす*/

.Toggle span:nth-child(1) {
  top: 5px;
}

.Toggle span:nth-child(2) {
  top: 18px;
}

.Toggle span:nth-child(3) {
  top: 32px;
}

.Toggle.active span:nth-child(1) {
  top: 18px;
  /* 1番目のspanをマイナス45度に */
  transform: rotate(-45deg);
}

/* 2番目と3番目のspanを45度に */

.Toggle.active span:nth-child(2),
.Toggle.active span:nth-child(3) {
  top: 18px;
  transform: rotate(45deg);
}

/*----------------------------------ここからPCモニターの記述-----------*/

@media screen and (min-width: 600px) {
  .hamburger {
    display: none;
  }
}

/* imgタグの中にクラスする */

.user-icon-img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  display: flex;
  -webkit-justify-content: center;
  /* justify-content: space-around; */
}

.center {
  text-align: center;
}

li {
  list-style: none;
}

svg {
  fill: black;
  /* fill: currentColor; */
}

/* 他 */

.kome {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}

.referance-title {
  font-size: 14px;
  text-align: center;
  margin: 5px auto;
}

.main-explain a {
  text-decoration: none;
  color: black;
}

.referance-name {
  font-size: 12px;
  text-align: right;
  opacity: 0.8;
  margin: 0 auto 5px;
}

.main-explain-sub {
  font-size: 14px;
  opacity: 0.7;
  margin: 0 auto 30px;
}

