.container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    /* justify-content: space-around; */
}
li {
    list-style: none;
}
svg {
    fill: black;
    /* fill: currentColor; */
}
/* メインコンテンツ */
.main {
    /* position: absolute; */
    flex-basis: 838px;
    height: auto;
    /* text-align: center; */
    order: 2;
    /* flexboxの順番*/

    /* left: 302px;
top: 0px;             */
    /* display: block; */
    /* width: 830px; */
    /* margin-right: 20px; */
    /* background-color: pink; */
    /* align-self: stretch; */
}
.main-title {
    text-align: center;
    margin-bottom: 3px;
}
.main-explain {
    text-align: center;
}

/* 左サイドバー */
.left_sidebar {
    border-right: 1px ridge;
    /* position: absolute; */
    flex-basis: 300px;
    height: 500px;
    /* left: 0px;
    top: 0px; */

    /* box-sizing: border-box; */
    text-align: center;
    order: 1;
    /* flexboxの順番*/
    position: sticky;
    /* //固定*/
    top: 0;
    /*  上部 0px の位置に固定*/
    /* position: sticky; */
    /* margin:0 0 0 auto; */
    /* width: 300px;
background-color: green; */
    /* align-self: stretch; */
}

.left_sidebar__item {
    /* margin-bottom: 20px; */
    position: sticky;
}

.profile_photo {
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: black;
    width: 56px;
    object-fit: cover;
}

.logo {
    margin: 30px auto 0;
}

.left-menu {
    margin: 80px auto;
}

.left-menu-content {
    padding: 20px 0;
    margin: 0 0;
    /* background-color: blue; */
    /* border: 2px solid black; */
}
.left-menu-content:hover svg {
    fill: #ff8000;
}
.left-menu-content a {
    text-decoration: none;
    text-align: center;
}
.menu-icon {
    float: left;
    /* width: 48px; */
    /* height: 48px; */
    display: block;
}
.menu-icon svg {
    margin: 20px 20px;
}
.menu-letter {
    width: 90%;

    height: 48px;
    display: block;
    text-align: center;
}
.menu-letter p {
    font-size: 20px;
    color: black;
}
.menu-letter:hover p {
    font-size: 20px;
    color: #ff8000;
}

.dropdown-item a {
    text-decoration: none;
}
/* 右サイドバー */
.right_sidebar {
    /* position: absolute; */
    flex-basis: 300px;
    height: 500px;
    /* left: 1140px;
    top: 0px; */

    /* box-sizing: border-box; */
    text-align: center;
    order: 3;
    /* flexboxの順番*/
    position: sticky;
    /* //固定*/
    top: 0;
    /*  上部 0px の位置に固定*/
    /* width: 30em; */
    /* background-color: blue; */
    /* align-self: stretch; */
}

.right_sidebar__item {
    /* margin-bottom: 20px; */
    position: sticky;
}

/* 時計関係 */
.right-watch {
    margin-top: 100px;
}
.time_name {
    font-size: 40px;
}
.timezone {
    font-size: 30px;
}
.time {
    font-size: 38px;
}

.second {
    font-size: 28px;
}
/* .millisec {
    font-size: 14px;
} */
.countdown {
    font-size: 8px;
    color: #87c9b6;
}
/* 時計関係ここまで */

.right-menu {
    font-size: 20px;
    /* padding: */
    padding-top: 30%;
    line-height: 70px;
    text-align: center;
}
.right-menu-content {
    /* margin: 0 auto; */
    width: 100%;
    display: inline-block;
}
.right-menu-content a {
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
.right-menu-content p {
    font-size: 12px;
    color: black;
    opacity: 0.3;
}
.right-menu-content:hover a {
    text-decoration: none;
    color: black;
    opacity: 1;
}
.copyright {
    text-align: center;
    display: inline-block;
    margin: 0 auto;
    width: 70%;
}
