@charset "UTF-8";

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

/* 左サイドバー */

.left_sidebar {
  border-right: 1px ridge;
  /* position: absolute; */
  flex-basis: 300px;
  height: 500px;
  /* left: 0px;
  top: 0px; */
  /* box-sizing: border-box; */
  text-align: center;
  order: 1;
  /* flexboxの順番*/
  position: -webkit-sticky;
  position: sticky;
  /* //固定*/
  top: 0;
  /*  上部 0px の位置に固定*/
  /* position: sticky; */
  /* margin:0 0 0 auto; */
  /* width: 300px;
  background-color: green; */
  /* align-self: stretch; */
}

.left_sidebar__item {
  /* margin-bottom: 20px; */
  position: -webkit-sticky;
  position: sticky;
}

.logo {
  margin: 30px auto 0;
  padding-left: 30px;
}

.left-menu {
  margin: 40px auto;
  font-family: "M PLUS Rounded 1c", sans-serif;
  justify-content: center;
}

.left-menu-content {
  width: 300px;
  padding: 20px 0;
  margin: 0 0;
  /* border: 1px solid green; */
}

.left-menu-content:hover svg {
  fill: #ff8000;
}

.left-menu-content a {
  text-decoration: none;
  text-align: center;
}

.menu-icon {
  float: left;
  margin-left: 30px;
  display: block;
  /* border: 1px solid red; */
}

.menu-icon svg {
  margin: 20px 20px;
}

.menu-letter {
  height: 48px;
  display: block;
  text-align: center;
  /* border: 1px solid blue; */
}

.menu-letter p {
  font-size: 20px;
  color: black;
}

.menu-letter:hover p {
  font-size: 20px;
  color: #ff8000;
}

.dropdown-item a {
  text-decoration: none;
}

.user {
  /* display: block; */
  margin: 40px auto;
  justify-content: center;
}

.user-icon {
  float: left;
  /* border: 1px solid blue; */
  margin-left: 90px;
}

.login-btn a {
  display: block;
  text-decoration: none;
  width: 200px;
  padding: 0.3em;
  margin-left: 100px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.login-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.register-btn a {
  display: block;
  text-decoration: none;
  width: 200px;
  padding: 0.3em;
  margin-left: 100px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.register-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.logout-btn a {
  display: block;
  text-decoration: none;
  width: 90px;
  padding: 0.3em;
  margin-left: 200px;
  text-align: center;
  color: #1b1b1b;
  background: #fff;
  border: 1px solid #1b1b1b;
}

.logout-btn:hover a {
  background: #ff8000;
  border: 1px solid #ff8000;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

/* 右サイドバー */

.right_sidebar {
  flex-basis: 300px;
  height: 500px;
  border-left: 1px ridge;
  text-align: center;
  order: 3;
  /* flexboxの順番*/
  position: -webkit-sticky;
  position: sticky;
  /* //固定*/
  top: 0;
}

.right_sidebar__item {
  /* margin-bottom: 20px; */
  position: -webkit-sticky;
  position: sticky;
}

/* 時計関係 */

.right-watch {
  margin-top: 100px;
}

.time_name {
  font-size: 40px;
}

.timezone {
  font-size: 30px;
}

.time {
  font-size: 38px;
}

.second {
  font-size: 28px;
}

/* .millisec {
    font-size: 14px;
} */

.countdown {
  font-size: 8px;
  color: #87c9b6;
}

/* 時計関係ここまで */

.right-menu {
  font-size: 15px;
  xpadding-top: 30%;
  line-height: 70px;
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  flex-direction: column;
}

.right-menu-content {
  /* width: 100%; */
  display: block;
}

.right-menu-content a {
  text-decoration: none;
  color: black;
  opacity: 0.5;
}

.right-menu-content p {
  font-size: 12px;
  color: black;
  opacity: 0.3;
}

.right-menu-content:hover a {
  text-decoration: none;
  color: black;
  opacity: 1;
}

.copyright {
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  width: 70%;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

/* メインコンテンツ */

.main {
  /* position: absolute; */
  flex-basis: 838px;
  height: auto;
  /* text-align: center; */
  order: 2;
  /* flexboxの順番*/
  /* left: 302px;
  top: 0px;             */
  /* display: block; */
  /* width: 830px; */
  /* margin-right: 20px; */
  /* background-color: pink; */
  /* align-self: stretch; */
}

.main-title {
  text-align: center;
  margin-bottom: 3px;
}

.orange-line {
  border-bottom: solid 3px #ff8000;
}

.main-explain {
  text-align: center;
}

.d-none {
  display: none;
}

@media screen and (min-width: 768px) {
  .d-md-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .d-md-block {
    display: block;
  }
}

/*----------------------------------ハンバーガー参考→https://qiita.com/super-mana-chan/items/0310e3543bd1c3e4761a-----------*/

/*ドロワー*/

.l-drawer {
  position: relative;
}

.l-drawer__logo {
  width: 100%;
  text-align: center;
  margin: 0 auto;
  float: left;
  border-bottom: 1px solid black;
}

.l-drawer__checkbox {
  display: none;
}

.l-drawer__icon {
  cursor: pointer;
  display: block;
  width: 56px;
  height: 60px;
  position: fixed;
  right: 0;
}

.l-drawer__icon-parts,
.l-drawer__icon-parts:before,
.l-drawer__icon-parts:after {
  background-color: #000;
  display: block;
  width: 26px;
  height: 2px;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: auto;
}

.l-drawer__icon-parts:before,
.l-drawer__icon-parts:after {
  content: " ";
}

.l-drawer__icon-parts:before {
  top: 16px;
}

.l-drawer__icon-parts:after {
  top: -16px;
}

.l-drawer__overlay {
  background: #000;
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
}

.l-drawer__menu {
  background: #ffffff;
  color: #000;
  max-width: 100%;
  width: 320px;
  height: 100vh;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  position: fixed;
  top: 0;
  right: -320px;
}

.l-drawer__icon {
  z-index: 4;
}

.l-drawer__menu {
  z-index: 3;
}

.l-drawer__overlay {
  z-index: 2;
}

.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts {
  background: transparent;
}

.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:before {
  transform: rotate(-45deg);
  top: 0;
}

.l-drawer__checkbox:checked ~ .l-drawer__icon .l-drawer__icon-parts:after {
  transform: rotate(45deg);
  top: 0;
}

.l-drawer__checkbox:checked ~ .l-drawer__overlay {
  opacity: 0.3;
  pointer-events: auto;
}

.l-drawer__checkbox:checked ~ .l-drawer__menu {
  right: 0;
}

.l-drawer__icon-parts,
.l-drawer__icon-parts:after,
.l-drawer__icon-parts:before,
.l-drawer__overlay,
.l-drawer__menu {
  transition: all 0.7s;
}

.main {
  position: relative;
  /*←相対位置*/
}

.bottom_menu {
  position: fixed;
  /*←絶対位置*/
  bottom: 0;
  /*下に固定*/
  margin: 0 auto;
  width: 100%;
  height: 80px;
  border: 1px solid black;
  text-align: center;
  background-color: #ffffff;
}

.bottom_menu__icon {
  width: 10%;
  float: left;
  margin: 0 4%;
}

/*----------------------------------スマホ用メニュー-----------*/

@media screen and (max-width: 767px) {
  .right_sidebar {
    display: none;
  }

  .left_sidebar {
    display: none;
  }
}

/*----------------------------------ここからPCモニターの記述-----------*/

@media screen and (min-width: 768px) {
  .l-drawer {
    display: none;
  }

  .bottom_menu {
    display: none;
  }
}

/* imgタグの中にクラスする */

.user-icon-img {
  border-radius: 50%;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  width: 56px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  display: flex;
  -webkit-justify-content: center;
  /* justify-content: space-around; */
}

.center {
  text-align: center;
}

li {
  list-style: none;
}

svg {
  fill: black;
  /* fill: currentColor; */
}

/* 他 */

.kome {
  text-align: center;
  font-size: 14px;
  opacity: 0.5;
}

.referance-title {
  font-size: 14px;
  text-align: center;
  margin: 5px auto;
}

.main-explain a {
  text-decoration: none;
  color: black;
}

.referance-name {
  font-size: 12px;
  text-align: right;
  opacity: 0.8;
  margin: 0 auto 5px;
}

.main-explain-sub {
  font-size: 14px;
  opacity: 0.7;
  margin: 0 auto 30px;
}

